@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

/*---Colours---*/
.bg-color-name-title {
    background-color: #676767;
}

.bg-color-video {
    background-color: #fff;
}

.ui-menu-color-home {
    background-color: #e67e22;
}

.ui-menu-color-about {
    background-color: #8B0000;
}

.ui-menu-color-media {
    background-color: #3498db;
}

.ui-menu-color-events {
    background-color: #525252;
}

.bg-color-contact{
    background-color: #fff;
}
/*---Special style rules---*/
*{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

html,body{
    height: 100%;
    margin:0;
}

.content{
    min-height: -webkit-calc(70% - 100px);
    min-height: -moz-calc(70% - 100px);
    min-height: calc(70% - 100px);
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase{
    text-transform: uppercase;
}

.general-sub{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}

.inline-block{
    display: inline-block;
}

.row-table{
    display: table;
}

.section-column{
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.history-heading,
.section-heading{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
    text-align: center;
}
/*---Heading---*/

header {
    margin: 0;
    padding-bottom: 20px;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url("../images/cover1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Exo", sans-serif;
    font-weight: 300;
    font-size: 50px;
    margin-top: 50px;
    color: #fff;
}

.title {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 90px;
    color: #fff;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

/*---Footer---*/

footer{
    background-color: #525252;
    color: #fafafa;
    min-height: 90px;
    margin:0;
    margin-top: 10px;
}

.social-links{
    padding-bottom: 15px;
}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background-color: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #e84610;
}

#footer-details{
    padding: 20px;
    padding-bottom: 0px;
}

.contact{
    text-decoration: none;
}

.contact a:hover{
    text-decoration: none;
}
/*---Hover.css---*/

.hvr-sweep-to-bottom:before {
    background: rgba(0, 0, 0, 0.2);
    height: 120px;
}
/*---Band Info---*/
.band-info{
    margin-bottom: 20px;
    display: block;
    clear: both;
}

.video{
    padding-top: 15px;
    padding-bottom: 0;
}

/*---Band Members Info---*/
.aboutband{
    padding-bottom: 7.5px;
    padding-top: 7.5px;
}

.bandmember{
    height: auto;
    width: 100%;
    display: inline;
    float:left;
    padding-bottom: 10px;
}

.bandmembername{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}

.aboutband span{
    display: block;
}

.memberinfo{
    padding-left: 15px;
}

/*---Contact Us---*/
.contact-heading{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 20px;
}

.center-form{
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    color: #fafafa;
    background-color: #e84610;
}

/*---Media---*/
.songcover{
    height: auto;
    width: 30%;
    display: inline-block;
    float:left;
    padding-bottom: 10px;
    max-height: 300px;
    max-width: 300px;
}

.songplayer{
    display:inline-block;
    width:70%;
}

.songinfo{
    max-height: 300px;
}

/*---Events---*/
.timeline-item{
    padding-bottom: 20px;
}

.eventsrow{
    max-width: 70%;
    padding: 0;
    margin: 0 15%;
    
}